@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  background-color: aliceblue;
  font-family: "lora", "Times New Roman", Times, serif;
}

nav,
nav a {
  background-color: orange;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
}

nav #logo {
  background-color: orange;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
  font-size: 40px;
  margin: 40px;
}

nav a:hover {
  transform: scale(1.2);
}

#home {
  text-align: center;
  padding-top: 40px;
}

#home h1 {
  color: darkblue;
  font-size: 60px;
}

#home p {
  font-size: 30px;
  color: rgb(27, 22, 22);
}

#index-page,
#details {
  width: 80vw;
  margin: 0 auto;
}

#index-page h2,
#new-playlist h2,
#details h2 {
  color: darkblue;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
  font-size: 46px;
}

#playlists {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#index-page ul li {
  list-style: none;
  line-height: 1.6;
}

#index-page ul li a {
  text-decoration: none;
  color: rgb(27, 22, 22);
  font-size: 22px;
}

#index-page ul li a #title {
  font-weight: bold;
  padding-left: 6px;
}

#index-page ul li a:hover {
  color: rgb(177, 159, 241);
}

#index-page button {
  border: none;
  background-color: darkblue;
  border-radius: 18px;
  font-size: 24px;
  color: aliceblue;
  height: 40px;
  margin: 0 auto;
  padding: 0 14px;
}

#index-page button:hover {
  background-color: rgb(177, 159, 241);
  cursor: pointer;
}

#new-playlist h2 {
  padding-bottom: 0;
}

form {
  padding: 20px;
  display: grid;
  width: 50vw;
  margin: 40px auto;
  font-size: 20px;
  font-weight: bold;
  color: rgb(27, 22, 22);
  line-height: 2;
  border: 3px solid darkblue;
  border-radius: 18px;
}

form input,
form textarea {
  border-radius: 10px;
  font-size: 20px;
  padding: 4px;
  margin-bottom: 6px;
}

form,
form label,
form #playlist-submit,
form #song-submit {
  background-color: rgb(177, 159, 241);
}

form #playlist-submit,
form #song-submit {
  padding-top: 25px;
  border: none;
  font-weight: bold;
  font-size: 22px;
  color: aliceblue;
}

form #playlist-submit:hover,
form #song-submit:hover {
  color: darkblue;
  cursor: pointer;
}

#is_favorite {
  height: 22px;
}

#details {
  display: flex;
  flex-direction: column;
}

#details h3 {
  color: darkblue;
  text-align: left;
  font-size: 34px;
  margin-bottom: 20px;
}

#details p {
  font-size: 24px;
  text-align: center;
  line-height: 1.3;
  color: rgb(27, 22, 22);
}

#songs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

#song-form {
  width: auto;
  padding: 8px;
  margin: 20px auto;
  line-height: 1.4;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.buttons {
  margin: 20px;
  align-self: center;
  display: flex;
  column-gap: 40px;
  margin-bottom: 40px;
}

.buttons a,
.buttons button {
  border: 2px solid darkblue;
  border-radius: 18px;
  padding: 4px 14px;
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(177, 159, 241);
}

.buttons a:hover,
.buttons button:hover {
  color: darkblue;
  cursor: pointer;
}

#details .Song p {
  font-size: 20px;
  text-align: left;
  line-height: 1.4;
}

#details .Song button {
  border: 1px solid darkblue;
  margin: 6px;
  font-size: 16px;
  border-radius: 18px;
  background-color: rgb(177, 159, 241);
  color: aliceblue;
  padding: 2px 10px;
}

#song-buttons {
  margin-bottom: 20px;
}

footer {
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}