@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  background-color: aliceblue;
  font-family: "lora", "Times New Roman", Times, serif;
}

nav,
nav a {
  background-color: orange;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
}

nav #logo {
  background-color: orange;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
  font-size: 40px;
  margin: 40px;
}

nav a:hover {
  /* color: aliceblue; */
  transform: scale(1.2);
}

#home {
  text-align: center;
  padding-top: 40px;
}

#home h1 {
  color: darkblue;
  font-size: 60px;
}

#home p {
  font-size: 30px;
  color: rgb(27, 22, 22);
}

#index-page {
  width: 80vw;
  margin: 0 auto;
}

#index-page h2,
#new-playlist h2 {
  color: darkblue;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
  font-size: 46px;
}

#playlists {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#index-page ul li {
  list-style: none;
  line-height: 1.6;
}

#index-page ul li a {
  text-decoration: none;
  color: rgb(27, 22, 22);
  font-size: 24px;
}

#index-page ul li a #title {
  font-weight: bold;
  padding-left: 6px;
}

#index-page ul li a:hover {
  color: rgb(177, 159, 241);
}

#index-page button {
  border: none;
  background-color: darkblue;
  border-radius: 18px;
  font-size: 18px;
  color: aliceblue;
  height: 40px;
  margin: 0 auto;
  padding: 0 14px;
}

#index-page button:hover {
  background-color: rgb(177, 159, 241);
  cursor: pointer;
}

#new-playlist h2 {
  padding-bottom: 0;
}

form {
  padding: 20px;
  display: grid;
  width: 50vw;
  margin: 40px auto;
  font-size: 20px;
  font-weight: bold;
  color: rgb(27, 22, 22);
  line-height: 2;
  border: 3px solid darkblue;
  border-radius: 18px;
}

form input,
form textarea {
  border-radius: 10px;
  font-size: 20px;
  padding: 4px;
}

form,
form label,
form #playlist-submit {
  background-color: rgb(177, 159, 241);
}

form #playlist-submit {
  padding-top: 25px;
  border: none;
  font-weight: bold;
  font-size: 22px;
  color: aliceblue;
}

form #playlist-submit:hover {
  color: darkblue;
  cursor: pointer;
}
